@font-face {
    font-family: 'alexbrush';
    src: url('/font/alexbrush-regular-webfont.woff2') format('woff2'),
         url('/font/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  background: linear-gradient(#fff, #f5f5f5);
  margin-top: 166px;
  margin-bottom: 60px; /* footer */
}
body.no-transition {
  transition: none;
}

a {
  color: #000;
  border-bottom: 1px solid #ff9900;
}
a:hover {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 5px, #eee 5px, #eee 100%);

}
header, header * {
  transition-property: all;
  transition-duration: 0.1s;
}
header .header-bg {
  padding: 0.1rem 0;
  background-image: url(/img/noisy.png);
}
header .logo-top, header .logo-bottom {
  width: 320px;
  height: 20px;
}
header .logo-top .zoigl {
  background-image: url(/img/zoigl.svg);
  background-repeat: no-repeat;
  background-size: 51px 14px;
  width: 51px;
  height: 14px;
}
header .logo-middle {
  display: none;
}
header .logo-bottom {
  margin-bottom: 0.25rem;
}
header .logo-bottom .vohenstrauss {
  background-image: url(/img/vohenstrauss.svg);
  background-repeat: no-repeat;
  background-size: 51px 5px;
  width: 51px;
  height: 5px;
}
header .logo-title span {
  font-family: 'alexbrush';
  font-size: 4.5rem;
  line-height: 2rem;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  margin-top: 1rem;
}
header .logo-title .star {
  display: none;
}
header .line {
  flex-grow: 2;
  height: 1px;
  background-color: #666;
  border: 1.2px #666 solid;
}
header .line.line-left {
  transform: perspective(250px) rotateY(-45deg);
}
header .line.line-right {
  transform: perspective(250px) rotateY(45deg);
}
header .navbar {
  padding-bottom: 0;
}
header .navbar-nav .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: none;
  padding-right: 1rem;
  padding-left: 1rem;
  display: inline-block;
  text-align: center;
}
header .navbar-nav .nav-item:not(.active) .nav-link:hover {
  background-color: #d4d4d4;
}
header .navbar-nav .nav-item.active .nav-link {
  color: #000;
  font-weight: bold;
  cursor: default;
  background-color: #ddd;
  border-bottom: 3px solid #ff9900;
}
.nav-link::after {
    display: block;
    content: attr(data-descr);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    text-align: center;
}
@media (min-width: 576px) { /* small devices (landscape phones, 576px and up) */
  body {
    margin-top: 110px;
  }
  header .logo-middle {
    display: flex;
  }
  header .logo-middle .wirtschaft {
    background-image: url(/img/wirtschaft.svg);
    background-repeat: no-repeat;
    background-size: 64px 10px;
    width: 64px;
    height: 10px;
  }
  header .logo-title span {
    font-size: 5rem;
    line-height: 2rem;
  }
  header .line {
    border-width: 1.5px;
  }
  header .logo-title .star {
    display: block;
    background-image: url(/img/zoigl-stern-grau.svg);
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
  }
  header .logo-title .star {
    transform: translateY(-0.4rem);
  }
  header .logo-title .star.star-left {
    margin-right: 2.5rem;
  }
  header .logo-title .star.star-right {
    margin-left: 2.5rem;
  }
}
@media (min-width: 768px) { /* medium devices (tablets, 768px and up) */
  body {
    margin-top: 227px;
  }
  header .header-bg {
    padding-top: 1rem;
  }
  header nav {
    margin-top: 1rem;
  }
  header .logo-top, header .logo-bottom {
    width: 500px;
  }
  header .logo-top .zoigl {
    background-size: 73px 20px;
    width: 73px;
    height: 20px;
    margin: 0 0.5rem;
  }
  header .logo-middle {
    margin-top: 0.5rem;
  }
  header .logo-middle .wirtschaft {
    background-size: 89px 14px;
    width: 89px;
    height: 14px;
  }
  header .logo-bottom {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
  header .logo-bottom .vohenstrauss {
    background-size: 73px 7.3px;
    width: 73px;
    height: 7.3px;
    margin: 0 0.5rem;
  }
  header .logo-title span {
    font-size: 6rem;
    line-height: 2.5rem;
  }
  header .line {
    border-width: 2px;
  }
  header .logo-title .star {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    transform: translateY(-0.5rem);
  }
  header .logo-title .star.star-left {
    margin-right: 4rem;
  }
  header .logo-title .star.star-right {
    margin-left: 4rem;
  }
}
@media (min-width: 992px) { /* large devices (desktops, 992px and up) */
  header .navbar-nav .nav-item .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 992px) and (min-height: 1000px) { /* large devices (desktops, 992px and up) + min 1000px height */
  body:not(.shrinked) {
    margin-top: 307px;
  }
  header:not(.shrinked) .logo-top, header:not(.shrinked) .logo-bottom {
    width: 700px;
    height: 33px;
  }
  header:not(.shrinked) .logo-top .zoigl {
    background-size: 120px 33px;
    width: 120px;
    height: 33px;
    margin: 0 1.5rem;
  }
  header:not(.shrinked) .logo-middle {
    margin-top: 1rem;
  }
  header:not(.shrinked) .logo-middle .wirtschaft {
    background-size: 170px 20px;
    width: 170px;
    height: 20px;
  }
  header:not(.shrinked) .logo-bottom {
    margin: 0;
  }
  header:not(.shrinked) .logo-bottom .vohenstrauss {
    background-size: 120px 12px;
    width: 120px;
    height: 12px;
    margin: 0 1.5rem;
  }
  header:not(.shrinked) .logo-title span {
    font-size: 9rem;
    line-height: 5rem;
    margin-top: 1.5rem;
  }
  header:not(.shrinked) .line {
    border-width: 3px;
  }
  header:not(.shrinked) .logo-title .star {
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    transform: translateY(-1rem);
  }
  header:not(.shrinked) .logo-title .star.star-left {
    margin-right: 7rem;
  }
  header:not(.shrinked) .logo-title .star.star-right {
    margin-left: 7rem;
  }
}

.table .thead-light th {
  background: #eee;
}
.table .table-bottom, .table .table-bottom td {
  border: none !important;
}

.text-wrapper {
  column-count: 1;
  column-gap: 50px;
}
.text-wrapper picture {
  float: left;
  margin-right: 1rem;
}

.image {
  -webkit-filter: drop-shadow(-4px 4px 3px #ddd) grayscale(50%);
          filter: drop-shadow(-4px 4px 3px #ddd) grayscale(50%);
  border: 10px solid #eee;
  outline: 1px solid #afafaf;
}

h1 {
  text-align: center;
}

#calendar .jqyc-year-chooser {
  display: none;
}
#calendar .jqyc-td:hover {
  cursor: default;
  background-color: #fff;
  color: #212532;
}
#calendar .jqyc-appended, #calendar .jqyc-appended:hover {
  background-color: #ff9900;
  border-radius: 0;
}
#calendar .zoigl-termin-txt {
  display: inline-block;
  background-image: url(/img/zoigl-stern.svg);
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
}

#eu-banner {
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 340px;
}
#eu-banner a {
  color: #155724;
  border-bottom: none;
  text-decoration: underline;
}

.alert-zoigl {
  color: #000;
  background-color: #ff9900;
  border-color: #e08600;
}
.alert-zoigl a {
  border-bottom: 2px solid #222;
}
.alert-zoigl a:hover {
  border-bottom: none;
}
.alert-grey {
  color: #000;
  background-color: #e6e6e6;
  border-color: #a2a2a2;
}

@media (min-width: 992px) { /* large devices (desktops, 992px and up) */
  .menu-border-a {
    border-right: 1px solid #ddd;
  }
  .menu-border-b {
    border-left: 1px solid #ddd;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
footer .default {
  line-height: 60px;
}
footer a {
    border-bottom: none;
}
footer a.default {
  color: rgba(0, 0, 0, 0.8);
}
footer a.default:hover {
  text-decoration: underline;
}
footer .sep {
  background-image: url(/img/zoigl-stern.svg);
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
footer .social {
  padding: 0.1rem 0.3rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 3px;
  opacity: 0.8;
}
footer .social:hover {
  opacity: 1;
}
footer .social.facebook {
  background-color: #3b5998;
}
footer .social.twitter {
  background-color: #1da1f2;
}
footer .social.tripadvisor {
  background-color: #00af87;
}
footer .social.yelp {
  background-color: #af0606;
}
footer .social.google {
  background-color: #0057e7;
}
