html,
body {
  height: 100%;
}

body {
  padding-top: 4.5rem;
  margin: 0;
}
body.start {
  padding-top: 0;
  background: #000;
}

.no-userselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a, .btn-link {
  color: #dd522c;
}
a:hover, .btn-link:hover {
  color: #c13f1b;
}

@media (min-width: 1250px) and (max-height: 1000px) {
  .hide-small-desktop {
    display: none;
  }
}

.card, nav, .alert {
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

@supports (-ms-ime-align: auto) {
  /* Circumvent EdgeHTML rendering issues with blurry background and box shadow applied */
  .backdropfilter #start-containers .card, .backdropfilter .alert {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}

nav, nav.fixed-top, .tooltip {
  z-index: 9999;
}
.backdropfilter .start nav {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: none !important;
}
.no-backdropfilter .start nav {
  background: rgba(52, 58, 64, 0.9) !important;
}
@media (min-width: 1050px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
  }
}
@media (min-width: 1150px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
@media (min-width: 1250px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
  }
}
.ie9 .navbar .nav-link {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.ie9 .navbar .navbar-toggler {
  display: none;
}
#deisenbahn-brand {
  -webkit-filter: drop-shadow(4px 4px 2px #000);
          filter: drop-shadow(4px 4px 2px #000);
}

.owl-carousel, .owl-stage-outer, .owl-stage, .owl-item, .owl-lazy  {
  height: 100%;
  max-height: 100% !important;
}
.owl-item .owl-lazy {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 100vh rgba(0, 0, 0, 0.9);
     -moz-box-shadow: inset 0px 0px 100vh rgba(0, 0, 0, 0.9);
          box-shadow: inset 0px 0px 100vh rgba(0, 0, 0, 0.9);
  -webkit-filter: brightness(75%) grayscale(40%);
          filter: brightness(75%) grayscale(40%);
}
#owl-scanlines {
  background: -webkit-repeating-linear-gradient(
    223deg,
    rgba(20, 20, 20, 0.6),
    rgba(20, 20, 20, 0.6) 4px,
    transparent 4px,
    transparent 6px
  );
  background: -moz-repeating-linear-gradient(
    223deg,
    rgba(20, 20, 20, 0.6),
    rgba(20, 20, 20, 0.6) 4px,
    transparent 4px,
    transparent 6px
  );
  background: -o-repeating-linear-gradient(
    223deg,
    rgba(20, 20, 20, 0.6),
    rgba(20, 20, 20, 0.6) 4px,
    transparent 4px,
    transparent 6px
  );
  background: repeating-linear-gradient(
    -133deg,
    rgba(20, 20, 20, 0.6),
    rgba(20, 20, 20, 0.6) 4px,
    transparent 4px,
    transparent 6px
  );
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}
.no-backdropfilter #owl-scanlines {
  top: 0;
}

#start-content, #start-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
}
.modern #start-content {
  margin-top: 100px;
}
@media (min-width: 768px) {
  #start-content, #start-images {
    margin-top: 8%;
  }
}
@media (min-width: 1250px) and (min-height: 1200px)  {
  #start-content, #start-images {
    margin-top: 15%;
  }
  .modern #start-content {
    margin-top: 100px;
  }
}
@media (min-width: 1250px) and (min-height: 1500px)  {
  .modern #start-content {
    margin-top: 250px;
  }
}
#start-images {
  position: fixed;
  margin: 0;
  z-index: 1;
}
#start-containers {
  padding-top: 4rem;
}
@media (min-width: 1250px) and (max-height: 1000px) {
  #start-containers .card-header {
    font-size: 1.5rem;
  }
}
@media (min-height: 1200px) and (min-width: 950px)  {
  #start-containers {
    padding-top: 10rem;
  }
}
@media (min-height: 1400px) and (min-width: 950px) {
  #start-containers {
    padding-top: 16rem;
  }
}
.backdropfilter #start-containers .card {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: none !important;
}
.no-backdropfilter #start-containers .card {
  background: rgba(52, 58, 64, 0.9);
}
.backdropfilter #start-containers .card-header {
  border-bottom: none;
}
_:-ms-input-placeholder, :root #start-containers /*ie10-11*/ {
  padding-bottom: 7rem;
}
#start-containers .card-header {
  text-shadow: 4px 4px 8px #000;
}
#start-logo, #start-containers {
  margin: 0 auto;
  width: 100%;
}
#start-logo {
  -webkit-filter: drop-shadow(4px 4px 8px #000);
          filter: drop-shadow(4px 4px 8px #000);
}
@media (min-width: 1250px) {
  .modern #start-logo {
    width: 1000px;
  }
}
@media (min-width: 1250px) and (max-height: 1000px) {
  .modern #start-logo {
    height: 140px;
  }
}
.ie9 #start-logo {
  width: 800px;
}

#social-row .social-card {
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 610px) {
  #social-row .social-card {
    padding: 0;
    display: inline-block;
  }
}
@media (min-width: 785px) {
  #social-row .social-card {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
  }
}
@media (min-width: 992px) {
  #social-row .social-card {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0;
  }
}
@media (min-width: 1140px) {
  #social-row .social-card {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 1250px) {
  #social-row .social-card {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (min-width: 1410px) {
  #social-row .social-card {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
#social-row .social-logo {
  font-size: 2rem;
  -webkit-filter: drop-shadow(4px 4px 8px #000);
          filter: drop-shadow(4px 4px 8px #000);
}
@media (min-width: 350px) {
  #social-row .social-logo {
    font-size: 3rem;
  }
}
@media (min-width: 610px) {
  #social-row .social-logo {
    font-size: 5rem;
  }
}
#social-row .social-logo:hover {
  -webkit-animation: shake 2s infinite;
     -moz-animation: shake 2s infinite;
       -o-animation: shake 2s infinite;
          animation: shake 2s infinite;
}
#social-row .social-logo.fa-facebook {
  color: #3b5998;
}
#social-row .social-logo.fa-yelp {
  color: #af0606;
}
#social-row .social-logo.fa-tripadvisor {
  color: #00af87;
}
#social-row .social-logo.fa-google {
  color: #0057e7;
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes shake {
  0% { -moz-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -moz-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -moz-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -moz-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -moz-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -moz-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -moz-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -moz-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -moz-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

@-o-keyframes shake {
  0% { -o-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -o-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -o-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -o-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -o-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -o-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -o-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -o-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -o-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -o-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -o-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); -moz-transform: translate(1px, 1px) rotate(0deg); -o-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); -moz-transform: translate(-1px, -2px) rotate(-1deg); -o-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); -moz-transform: translate(-3px, 0px) rotate(1deg); -o-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); -moz-transform: translate(3px, 2px) rotate(0deg); -o-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); -moz-transform: translate(1px, -1px) rotate(1deg); -o-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); -moz-transform: translate(-1px, 2px) rotate(-1deg); -o-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); -moz-transform: translate(-3px, 1px) rotate(0deg); -o-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); -moz-transform: translate(3px, 1px) rotate(-1deg); -o-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); -moz-transform: translate(-1px, -1px) rotate(1deg); -o-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); -moz-transform: translate(1px, 2px) rotate(0deg); -o-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); -moz-transform: translate(1px, -2px) rotate(-1deg); -o-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

.start #legal {
  z-index: 5000;
  padding: 1rem 0.25rem;
  position: relative;
}
@media (min-height: 1160px) and (min-width: 1050px) {
  .start #legal {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
  }
}
.start #legal a {
  padding: 0.75rem;
  color: #bbb;
}
.ie9 .start #legal a {
  background: rgba(52, 58, 64, 0.9);
  color: #dd522c;
  margin-bottom: 0.3rem;
  display: inline-block;
}

#eu-banner {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 340px;
  z-index: 6000;
  background: rgba(52, 58, 64, 0.9);
  border: none;
}
@media (min-height: 1160px) and (min-width: 1050px) {
  #eu-banner {
    bottom: 3.5rem;
  }
}
.backdropfilter #eu-banner {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: none !important;
}
#eu-banner a {
  border-bottom: none;
  text-decoration: underline;
}
