{{ include('inc/header.html') }}

<h1 class="pt-sm-2 pt-md-0 pb-4">Anfahrt zur Zoiglstube</h1>

<div class="row mb-5">
    <div class="col-12 col-md-4">
        Sie finden uns unter folgender Adresse:
        <br>
        <br>
        <strong>
        Zoiglwirtschaft d'Eisenbahn<br>
        Bahnhofstraße 18<br>
        92648 Vohenstrauß
        </strong>
        <br>
        <br>
        <a class="btn btn-primary" href="{{ directions }}" role="button">Google Maps Routenplanung</a>
    </div>
    <div class="col-12 col-md-8">
        <div id="anfahrt" class="mt-4 mt-md-0"></div>
    </div>
</div>

<center>
    <i class="fas fa-bicycle mr-1"></i>Oder haben Sie Lust auf eine Mountainbike-Tour bei der Sie zum Schluss mit einem Zoigl belohnt werden? <a href="https://www.komoot.de/smarttour/166024" target="_blank">Mehr Details finden Sie hier</a><i class="fas fa-bicycle ml-1"></i>
</center>

<script>
   window.addEventListener('DOMContentLoaded', function() {
     mapboxgl.accessToken = 'pk.eyJ1IjoidGhvbWFzcmVpc2VyIiwiYSI6ImNrMHo1dGNkMjBiNTczY3BlaHgzeTZuenAifQ.qTsRbURNSaKls2SD25z7bQ';
     document.map = new mapboxgl.Map({
         container: 'anfahrt',
         style: 'mapbox://styles/mapbox/streets-v11',
         center: [12.339683705754283, 49.626394202928],
         zoom: 17.92,
         pitch: 59.5,
         bearing: 143.85,
         antialias: true,
     });
     
     document.map.addControl(new mapboxgl.NavigationControl());
     
     document.map.on('load', function() {
        var layers = document.map.getStyle().layers;
         
        var labelLayerId;
        for (var i = 0; i < layers.length; i++) {
            if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                labelLayerId = layers[i].id;
                break;
            }
        }
         
        document.map.addLayer({
        'id': '3d-buildings',
        'source': 'composite',
        'source-layer': 'building',
        'filter': ['==', 'extrude', 'true'],
        'type': 'fill-extrusion',
        'minzoom': 15,
        'paint': {
            'fill-extrusion-color': '#aaa',
            'fill-extrusion-height': [
            "interpolate", ["linear"], ["zoom"],
            15, 0,
            15.05, ["get", "height"]
            ],
            'fill-extrusion-base': [
            "interpolate", ["linear"], ["zoom"],
            15, 0,
            15.05, ["get", "min_height"]
            ],
            'fill-extrusion-opacity': 0.5
        }
        }, labelLayerId);
     });
   });
 </script>

{{ include('inc/footer.html') }}
