{{ include('inc/header.html') }}

<h1 class="pt-sm-2 pt-md-0 pb-4">Feiern in &bdquo;der Eisenbahn&rdquo;</h1>

<div class="text-wrapper">
  <p class="m-0">Die Zoiglstube ist auch auf Anfrage außerhalb unserer offiziellen Termine für Ihre Festlichkeiten geöffnet.
  So können Sie in unserem bis zu 80 Personen fassende Gastraum zum Beispiel Ihren Geburtstag, eine Kommunion, ein Tauffest, Ihre Betriebsfeier oder Brautentführung veranstalten.
  <br>
  <br>
  Bei Interesse oder Rückfragen können Sie sich <a href="/kontakt">gerne an uns wenden</a>.</p>

  <div style="transform: rotate(-2deg)">
    <picture class="image small-center my-4 float-right">
      <source srcset="/img/bierdeckel-480x360.jpg, /img/bierdeckel-960x720.jpg 2x" media="(min-width: 768px)">
      <source srcset="/img/bierdeckel-320x240.jpg, /img/bierdeckel-640x480.jpg 2x">
      <img src="/img/bierdeckel-640x480.jpg" alt="d'Eisenbahn Bierdeckel">
    </picture>
  </div>
</div>

{{ include('inc/footer.html') }}
