{{ include('inc/header.html') }}

<h1 class="pt-sm-2 pt-md-0 pb-4">Feiern in &bdquo;der Eisenbahn&rdquo;</h1>

Die Zoiglstube ist auch auf Anfrage außerhalb unserer offiziellen Termine für Ihre Festlichkeiten geöffnet.
So können Sie in unserem bis zu 80 Personen fassende Gastraum Ihren Geburtstag, eine Kommunion, ein Tauffest oder Ihre Betriebsfeier veranstalten.
<br>
<br>
Bei Interesse oder Rückfragen können Sie sich <a href="/kontakt">gerne an uns wenden</a>.

{{ include('inc/footer.html') }}
