{{ include('inc/header.html') }}

<h1>Zoigl in Vohenstrauß</h1>

<div id="owl-scanlines"></div>
<div id="start-content" class="d-flex align-items-start justify-content-center flex-column text-white">
  <img id="start-logo" class="mb-auto align-self-start mb-5 no-userselect" src="/img/logo.svg" alt="Zoiglwirtschaft d'Eisenbahn in Vohenstrauß">
  <div id="start-containers" class="container">
    <div class="row mb-4 mb-lg-0">
      <div class="col-12 col-lg-6">
          <div class="card mr-lg-3 h-100">
              <h2 class="card-header">Herzlich willkommen</h2>
              <div class="card-body">
                <h5 class="card-title">auf den Seiten der Zoiglwirtschaft „d'Eisenbahn”</h5>
                <p class="card-text">In unserer historischen Zoiglstube können Sie frisch gezapften Zoigl und typisch bayrische Brotzeiten genießen.
                  <span class="hide-small-desktop"><br><br>Wir freuen uns auf Ihren Besuch!</span>
                </p>
              </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card ml-lg-3 mt-4 mt-lg-0 h-100">
                <h2 class="card-header">Zoigl Countdown</h2>
                <div class="card-body">
                  <p class="card-text" id="zoigl-countdown"><noscript>Klicken Sie <a href="/termine">HIER</a> um mehr über unsere Schanktermine zu erfahren!</noscript></p>
                  {{ zoiglinfo|raw }}
                </div>
            </div>
        </div>
      </div>
      <div id="social-row" class="row">
        <div class="col-12 mt-4">
          <div class="card">
            <div class="card-body mx-auto">
              <div class="social-card">
                <a href="https://www.facebook.com/deisenbahn">
                  <i class="fab fa-facebook fa-fw social-logo" title="d'Eisenbahn bei Facebook"></i>
                </a>
              </div>
              <div class="social-card">
                <a href="https://www.yelp.de/biz/zoiglwirtschaft-d-eisenbahn-vohenstrau%C3%9F">
                  <i class="fab fa-yelp fa-fw social-logo" title="d'Eisenbahn bei Yelp"></i>
                </a>
              </div>
              <div class="social-card">
                <a href="https://www.tripadvisor.de/Restaurant_Review-g1067446-d10235103-Reviews-Zoiglstube_D_Eisenbahn-Vohenstrauss_Upper_Palatinate_Bavaria.html">
                  <i class="fab fa-tripadvisor fa-fw social-logo" title="d'Eisenbahn bei TripAdvisor"></i>
                </a>
              </div>
              <div class="social-card">
                <a href="https://goo.gl/maps/nKRwCMhurx52">
                  <i class="fab fa-google fa-fw social-logo" title="d'Eisenbahn bei Google"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
          <div class="col-12">
            <div class="card mt-4 h-100">
                <h2 class="card-header">Regionale Spezialitäten</h2>
                <div class="card-body">
                  <p class="card-text">Zu <a href="/speisekarte">frisch gezapften Zoigl</a> gehört auch immer eine deftige Mahlzeit. In „der Eisenbahn” findet jeder Feinschmecker <a href="/speisekarte">eine kalte oder warme Brotzeit</a> &mdash; natürlich mit Liebe zubereitet und aus der Region.</p>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>

<main role="main">
  <div id="start-images" class="owl-carousel owl-theme">
    <div class="owl-lazy" data-src="/img/start/0.default.jpg" data-src-retina="/img/start/0.hidpi.jpg"></div>
    <div class="owl-lazy" data-src="/img/start/1.default.jpg" data-src-retina="/img/start/1.hidpi.jpg"></div>
    <div class="owl-lazy" data-src="/img/start/2.default.jpg" data-src-retina="/img/start/2.hidpi.jpg"></div>
    <div class="owl-lazy" data-src="/img/start/3.default.jpg" data-src-retina="/img/start/3.hidpi.jpg"></div>
  </div>
</main>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    var now = new Date();
    var date = undefined;
    var today = false;

    var allAppointments = [];
    for (var year in window.appointments) {
      if (window.appointments.hasOwnProperty(year)) {
          var tmp = window.appointments[year];
          if (Array.isArray(tmp))
            allAppointments = allAppointments.concat(tmp);
      }
    }

    allAppointments.some(function(item) {
      if (item[0] >= now.getFullYear() && item[1] > now.getMonth() &&
        ((item[1] === now.getMonth() + 1 && item[2] >= now.getDate()) || item[1] > now.getMonth() + 1)) {
        date = new Date(item[0], item[1] - 1, item[2], 17, 0, 0, 0);
        today = item[0] === now.getFullYear() && item[1] === now.getMonth() + 1 && item[2] === now.getDate();
        return true;
      }
      return false;
    });

    var zoiglCountdown = document.getElementById('zoigl-countdown');
    if (today) {
      if (now.getHours() >= 17) {
        zoiglCountdown.innerHTML = '&bdquo;d\'Eisenbahn&rdquo; hat heute seit 17 Uhr geöffnet! 🍺'
      } else {
        zoiglCountdown.innerHTML = '&bdquo;d\'Eisenbahn&rdquo; hat heute ab 17 Uhr geöffnet! 🍺'
      }
    } else {
      zoiglCountdown.innerHTML = '&bdquo;d\'Eisenbahn&rdquo; ist wieder am ' + date.toLocaleDateString('de-DE') + ' geöffnet! 🍺'
    }
  });
</script>

{{ include('inc/footer.html') }}
