{{ include('inc/header.html') }}

<h1 class="pt-sm-2 pt-md-0">Speisen und Getränke</h1>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Menu",
    "mainEntityOfPage": "https://d-eisenbahn.com/speisekarte",
    "inLanguage": "German",
    "hasMenuSection":
      {{ menu|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
  }
</script>

<div class="row px-3">
  <table class="table mt-4 col-12 col-lg-5">
    {% for section in drinks %}
      <thead class="thead-light">
        <tr>
          <th scope="col" colspan="3" class="text-center">{{ section.name }}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in section.hasMenuItem %}
          <tr>
            <td scope="row" class="align-middle">
                <span class="lead">{{ item.name }}</span>
                {% if item.description|length %}
                  <br><small>{{ item.description }}</small>
                {% endif %}
            </td>
            <td class="align-middle">
              {% if item.offers.eligibleQuantity.name != 'Haferl' %}
                {{ item.offers.eligibleQuantity.name }}
              {% endif %}
            </td>
            <td class="lead text-right align-middle"><strong>{{ item.offers.price|number_format(2, ',', '.') }}&nbsp;&euro;</strong></td>
          </tr>
        {% endfor %}
      </tbody>
    {% endfor %}
  </table>
  <div class="col-0 col-lg-2"></div>
  <table class="table mt-4 col-12 col-lg-5">
    {% for section in meals %}
      <thead class="thead-light">
        <tr>
          <th scope="col" colspan="3" class="text-center">{{ section.name }}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in section.hasMenuItem %}
          <tr>
            <td scope="row" class="align-middle">
                <span class="lead">{{ item.name }}</span>
                {% if item.description|length %}
                  <br><small>{{ item.description }}</small>
                {% endif %}
            </td>
            <td class="align-middle"></td>
            <td class="lead text-right align-middle"><strong>{{ item.offers.price|number_format(2, ',', '.') }}&nbsp;&euro;</strong></td>
          </tr>
        {% endfor %}
      </tbody>
    {% endfor %}
    <tbody class="table-bottom">
      <tr>
        <td scope="row" colspan="3">
          <br>
          <em>A Bauernbrot gibt`s immer dazou</em>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{{ include('inc/footer.html') }}
