{{ include('inc/header.html') }}

<h1 class="pt-sm-2 pt-md-0 pb-4">Speisen und Getränke</h1>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Menu",
    "mainEntityOfPage": "https://d-eisenbahn.com/speisekarte",
    "inLanguage": "German",
    "hasMenuSection":
      {{ menu|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
  }
</script>

<div class="container-fluid px-3" id="zoigl-menu">
  <div class="row">
    <div class="col-12 col-lg-5 px-0">
      <table class="table mt-4">
        {% for section in drinks %}
          <tbody class="thead-light">
            <tr>
              <th scope="col" colspan="3" class="text-center">{{ section.name }}</th>
            </tr>
          </tbody>
          <tbody>
            {% for item in section.hasMenuItem %}
              <tr>
                <th scope="row" class="align-middle">
                    {% if 'prinz' in item.name|lower %}
                      <div class="prinz-logo prinz-logo-small d-none d-sm-block ml-0"></div>
                    {% endif %}
                    <span class="lead">{{ item.name }}</span>
                    {% if item.description|length %}
                      <br><small>{{ item.description }}</small>
                    {% endif %}
                </th>
                <td class="align-middle">
                  {% if item.offers.eligibleQuantity.name != 'Tasse' %}
                    {{ item.offers.eligibleQuantity.name }}
                  {% endif %}
                </td>
                <td class="lead text-right align-middle"><strong>{{ item.offers.price|number_format(2, ',', '.') }}&nbsp;&euro;</strong></td>
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
        <tbody class="table-bottom">
          <tr>
            <td scope="row" colspan="3">
              <br>
              <div class="text-center prinz">
                <div class="prinz-logo d-block mb-2"></div>
                <span class="text-uppercase"><strong>Alte Sorten</strong></span>
                <br>
                <span class="text-uppercase"><strong>Das Original vom Schnaps-Prinz mit milden 41% vol.</strong></span>
                <br>
                Die Destillate der Alten Sorten reifen 18 bis 36 Monate im Steingut und es wird ihnen die Zeit gegeben, die sie brauchen,
                um ihre feinen Fruchtnoten vollends entfalten zu können. Anschließend lagern die Destillate noch für weitere 6 bis 24 Monate
                im Holzfass.
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-0 col-lg-1 menu-border-a"></div>
    <div class="col-0 col-lg-1 menu-border-b"></div>
    <div class="col-12 col-lg-5 px-0">
      <table class="table mt-4">
        {% for section in meals %}
          <tbody class="thead-light">
            <tr>
              <th scope="col" colspan="3" class="text-center">{{ section.name }}</th>
            </tr>
          </tbody>
          <tbody>
            {% for item in section.hasMenuItem %}
              <tr>
                <th scope="row" class="align-middle">
                    <span class="lead">{{ item.name }}</span>
                    {% if item.description|length %}
                      <br><small>{{ item.description }}</small>
                    {% endif %}
                </th>
                <td class="align-middle"></td>
                <td class="lead text-right align-middle"><strong>{{ item.offers.price|number_format(2, ',', '.') }}&nbsp;&euro;</strong></td>
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
        <tbody class="table-bottom">
          <tr>
            <td scope="row" colspan="3">
              <br>
              <em><i class="fas fa-arrow-right"></i> <strong>A Bauernbrot gibt`s immer dazou</strong></em>
              <br>
              <em><i class="fas fa-arrow-right"></i> D` Wurst is vo Vohenstraußer Metzger</em>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="chalkboard my-5 col-12 col-md-9 col-xl-6">
    Wos sonst immer nu z`essn gibt steht in der Stub`n an der Tafel
</div>

<div class="alert alert-grey mt-4" role="alert">
  Eine Übersicht aller Zusatzstoffe und Allergene können Sie bei uns vor Ort einsehen.
</div>

{{ include('inc/footer.html') }}
