{{ include('inc/header.html') }}

<h1>Wissenswertes rund um den Zoigl</h1>

<h2 class="pt-4">Tradition</h2>

<div class="text-wrapper">
  <p>Bereits im 16. Jahrhundert wurde der Begriff &bdquo;Zoigl&rdquo; erstmal urkundlich erwähnt. Ein Zeiger,
  umgangssprachlich auch zum &bdquo;Zeigel&rdquo;, später &bdquo;Zoigl&rdquo; mutiert, war es, der dem Bier seinen Namen gab.
  Der Zeiger hing vor dem Haus in dem gerade dieses hausgemachte Bier ausgeschenkt wurde. Das Symbol des
  Zoigl, der Zoiglstern, ähnelt dem Davidstern, die Bedeutung ist jedoch eine andere.
  Die beiden ineinander verschobenen Dreiecke symbolisieren die am Brauen beteiligten Elemente Feuer,
  Wasser und Luft sowie die damals zum Bierbrauen bekannten Zutaten Wasser, Hopfen und Malz.</p>

  <picture class="image">
    <source srcset="https://via.placeholder.com/480x350, https://via.placeholder.com/960x700 2x" media="(min-width: 768px)">
    <source srcset="https://via.placeholder.com/320x200, https://via.placeholder.com/640x400 2x">
    <img src="https://via.placeholder.com/320x200" alt="Zoiglbier">
  </picture>

  <p>Leider springen derzeit mehr und mehr Gaststätten auf boomenden Zoiglzug auf und verkaufen ganzjährig
  (Flaschen)Zoigl.<br>
  Durch den ganzjährigen Ausschank von Zoigl würde die Tradition und somit der Ursprungsgedanke des Zoigls
  aufgeweicht, weshalb &bdquo;d'Eisenbahn&rdquo; auch nur im Abstand der Brauintervalle des Zoigls geöffnet ist.
  Zudem wird der Zoigl frisch aus dem Faß gezapft, wie es seit Jahrhunderten der Brauch ist.</p>

  <p>In allen traditionellen Zoiglwirtschaften wird der Zoigl für Selbstabholer auch in mitgebrachte oder in den
  Wirtschaften erhältliche Flaschen und Krüge abgefüllt.
  So erhalten Sie auch in &bdquo;der Eisenbahn&rdquo; frischgezapften Zoigl für den Genuss zu Hause. <strong>Der Preisrabatt für
  Selbstabholer beträgt &bdquo;in der Eisenbahn&rdquo; satte 40% pro Liter auf den regulären Preis.</strong>
  Für Anlässe aller Art halten wir natürlich auch Geschenkgutscheine für Sie bereit.</p>

  <p>Deftige warme und kalte Brotzeiten in uriger Atmosphäre zu erschwinglichen Preisen erwarten Sie in den
  Zoiglstuben der nördlichen Oberpfalz.
  Immer wenn der &bdquo;Zoiglstern&rdquo; vor der Wirtschaft hängt kommen sie in den vollen Genuss purer oberpfälzer
  Biertradition!</p>
</div>

<h2 class="pt-4">Historisches zur &bdquo;Eisenbahn&rdquo;</h2>

<p>Die Zoiglstube &bdquo;d'Eisenbahn&rdquo; kann auf eine lange Geschichte zurückblicken. Das Gebäude mit dem einzigartigen Fachwerk auf der Rückseite wurde im Jahre 1707 erbaut. Im Jahre 1794 gehörte es dem Brauereibesitzer Johann Martin Landgraf. Vom großen Stadtbrandt 1839 verschont, wurde hier bis in die 1940er Jahre Weißbier gebraut, obwohl dies damals nicht selbstverständlich war, da der Weizen oft zu Schade zum Trinken war.</p>

<p>Als dann 1886 die Eisenbahn nach Vohenstrauß kam, wurde das Gebäude in den Gasthof &bdquo;Zur Eisenbahn&rdquo; umbenannt. 1899 war der Gastwirt und Braumeister Heinrich Wolfgang Mühlhofer als Inhaber der Gaststätte aufgelistet.</p>

<p>Im Jahre 1921 folgte  Brauereibesitzer Wolfgang Mühlhofer, der noch etwas mehr als 20 Jahre lang als Letzer Weißbier produzierte.</p>

<p>In den 50er Jahren kaufte die damalige Brauerei Balk aus Kleinschwand das Gebäude. In den darauffolgenden Jahren wechselten die Pächter häufig - auch eine Pizzeria fand in ihm Platz.</p>

<p>Von März 2007 bis März 2017 betrieb Jürgen Schittenhelm zusammen mit seiner Ehefrau Annett die Zoiglstube &bdquo;d'Eisenbahn&rdquo;.</p>

<p>Die Zoiglstube wurde von Marina Frister und Andrea Horn im Juni 2017 übernommen. Die Wirtschaft, die ab dann unter dem Namen &bdquo;Zoigl Moidla&rdquo; bekannt war, schloss ihre Pforten im Juni 2018.</p>

<p>Seit dem Juli 2018 ist die Zoiglwirtschaft an die Familie Reiser verpachtet und wieder als &bdquo;d'Eisenbahn&rdquo; geöffnet.</p>

<small><em>Historische Details stammen auszugsweise aus dem Artikel <a href="https://www.onetz.de/vohenstrauss/lokales/ehemaliges-weisses-brauhaus-hat-eine-bewegte-geschichte-hinter-sich-seit-2007-deisenbahn-auf-zoigl-zug-aufgesprungen-d951864.html" rel="nofollow" target="_blank">Auf Zoigl-Zug aufgesprungen</a> von Onetz.</em></small>

{{ include('inc/footer.html') }}
