{{ include('inc/header.html') }}

<h1>Wissenswertes rund um den Zoigl</h1>

<h2 class="pt-3">Tradition</h2>

<picture>
  <source srcset="https://via.placeholder.com/350x250, https://via.placeholder.com/700x500 2x">
  <img src="https://via.placeholder.com/350x250" alt="Zoiglbier">
</picture>

<p>Bereits im 16. Jahrhundert wurde der Begriff &bdquo;Zoigl&rdquo; erstmal urkundlich erwähnt. Ein Zeiger,
umgangssprachlich auch zum &bdquo;Zeigel&rdquo;, später &bdquo;Zoigl&rdquo; mutiert, war es, der dem Bier seinen Namen gab.
Der Zeiger hing vor dem Haus in dem gerade dieses hausgemachte Bier ausgeschenkt wurde. Das Symbol des
Zoigl, der Zoiglstern, ähnelt dem Davidstern, die Bedeutung ist jedoch eine andere.
Die beiden ineinander verschobenen Dreiecke symbolisieren die am Brauen beteiligten Elemente Feuer,
Wasser und Luft sowie die damals zum Bierbrauen bekannten Zutaten Wasser, Hopfen und Malz.</p>

<p>Leider springen derzeit mehr und mehr Gaststätten auf boomenden Zoiglzug auf und verkaufen ganzjährig
(Flaschen)Zoigl.<br>
Durch den ganzjährigen Ausschank von Zoigl würde die Tradition und somit der Ursprungsgedanke des Zoigls
aufgeweicht, weshalb &bdquo;d´ Eisenbahn auch nur im Abstand der Brauintervalle des Zoigls geöffnet ist.
Zudem wird der Zoigl frisch aus dem Faß gezapft, wie es seit Jahrhunderten der Brauch ist.</p>

<p>In allen traditionellen Zoiglwirtschaften wird der Zoigl für Selbstabholer auch in mitgebrachte oder in den
Wirtschaften erhältliche Flaschen und Krüge abgefüllt.
So erhalten Sie auch in &bdquo;der Eisenbahn&rdquo; frischgezapften Zoigl für den Genuss zu Hause. <strong>Der Preisrabatt für
Selbstabholer beträgt &bdquo;in der Eisenbahn&rdquo; satte 40% pro Liter auf den regulären Preis.</strong>
Für Anlässe aller Art halten wir natürlich auch Geschenkgutscheine für Sie bereit.</p>

<p>Deftige warme und kalte Brotzeiten in uriger Atmosphäre zu erschwinglichen Preisen erwarten Sie in den
Zoiglstuben der nördlichen Oberpfalz.
Immer wenn der &bdquo;Zoiglstern&rdquo; vor der Wirtschaft hängt kommen sie in den vollen Genuss purer oberpfälzer
Biertradition!</p>

<h2 class="pt-3">Historisches zur &bdquo;d´ Eisenbahn&rdquo;</h2>

<p>xxx</p>

{{ include('inc/footer.html') }}
