{{ include('inc/header.html') }}

<h1 class="pt-sm-2 pt-md-0 pb-4">Wissenswertes rund um den Zoigl</h1>

<h2>Tradition</h2>

<div class="text-wrapper">
  <p>Bereits im 16. Jahrhundert wurde der Begriff &bdquo;Zoigl&rdquo; erstmal urkundlich erwähnt. Ein Zeiger,
  umgangssprachlich auch zum &bdquo;Zeigel&rdquo;, später &bdquo;Zoigl&rdquo; mutiert, war es, der dem Bier seinen Namen gab.
  Der Zeiger hing vor dem Haus in dem gerade dieses hausgemachte Bier ausgeschenkt wurde. Das Symbol des
  Zoigl, der Zoiglstern, ähnelt dem Davidstern, die Bedeutung ist jedoch eine andere.
  Die beiden ineinander verschobenen Dreiecke symbolisieren die am Brauen beteiligten Elemente Feuer,
  Wasser und Luft sowie die damals zum Bierbrauen bekannten Zutaten Wasser, Hopfen und Malz.</p>

  <picture class="image mr-sm-4 mb-4 mb-md-0" id="zoigl-image" style="transform: rotate(2deg)">
    <source srcset="https://via.placeholder.com/480x350, https://via.placeholder.com/960x700 2x" media="(min-width: 768px)">
    <source srcset="https://via.placeholder.com/320x200, https://via.placeholder.com/640x400 2x">
    <img src="https://via.placeholder.com/320x200" alt="Zoiglbier">
  </picture>

  <p>Leider springen derzeit mehr und mehr Gaststätten auf boomenden Zoiglzug auf und verkaufen ganzjährig
  (Flaschen)Zoigl.<br>
  Durch den ganzjährigen Ausschank von Zoigl würde die Tradition und somit der Ursprungsgedanke des Zoigls
  aufgeweicht, weshalb &bdquo;d'Eisenbahn&rdquo; auch nur im Abstand der Brauintervalle des Zoigls geöffnet ist.
  Zudem wird der Zoigl frisch aus dem Fass gezapft, wie es seit Jahrhunderten der Brauch ist.</p>

  <p>In allen traditionellen Zoiglwirtschaften wird der Zoigl für Selbstabholer auch in mitgebrachte oder in den
  Wirtschaften erhältliche Flaschen und Krüge abgefüllt.
  So erhalten Sie auch in &bdquo;der Eisenbahn&rdquo; frischgezapften Zoigl für den Genuss zu Hause
  Für Anlässe aller Art halten wir natürlich auch Geschenkgutscheine für Sie bereit.</p>

  <p>Deftige warme und kalte Brotzeiten in uriger Atmosphäre zu erschwinglichen Preisen erwarten Sie in den
  Zoiglstuben der nördlichen Oberpfalz.
  Immer wenn der &bdquo;<a href="https://de.wikipedia.org/wiki/Brauerstern" target="_blank">Zoiglstern</a>&rdquo; vor der Wirtschaft hängt kommen sie in den vollen Genuss purer oberpfälzer
  Biertradition!</p>

  <iframe class="image mb-3 mt-lg-5" id="zoigl-video" width="320" height="179" src="https://www.youtube.com/embed/itFp_E5TawU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="alert alert-grey mt-4" role="alert">
  Mehr Informationen über den Zoigl, seine Brautradition sowie einen Kalender mit allen anderen Wirtschaften aus der Region <a href="https://www.oberpfaelzerwald.de/zoigl-und-bier-1-zoigl-und-bier-1" rel="nofollow" target="_blank">finden Sie hier</a>.
</div>

{{ include('inc/footer.html') }}
