</main>

<footer>
  <div class="d-flex justify-content-center align-items-center container">
    <a class="default" href="/impressum">Impressum</a>
    <div class="default sep mx-1 mx-sm-3"></div>
    <a class="default" href="/datenschutz">Datenschutz</a>
    <div class="default sep mx-3 d-none d-sm-flex"></div>
    <a class="social facebook mx-1 d-none d-sm-flex" href="https://www.facebook.com/deisenbahn" title="d'Eisenbahn auf Facebook"><i class="fab fa-fw fa-facebook"></i></a>
    {# <a class="social twitter mr-1 d-none d-sm-flex" href="#" title="d´ Eisenbahn auf Twitter"><i class="fab fa-fw fa-twitter"></i></a> #}
    <a class="social tripadvisor mr-1 d-none d-sm-flex" href="https://www.tripadvisor.de/Restaurant_Review-g1067446-d10235103-Reviews-Zoiglstube_D_Eisenbahn-Vohenstrauss_Upper_Palatinate_Bavaria.html" title="d'Eisenbahn auf TripAdvisor"><i class="fab fa-fw fa-tripadvisor"></i></a>
    <a class="social yelp mr-1 d-none d-sm-flex" href="https://www.yelp.de/biz/zoiglwirtschaft-d-eisenbahn-vohenstrau%C3%9F" title="d'Eisenbahn auf Yelp"><i class="fab fa-fw fa-yelp"></i></a>
    <a class="social google mr-1 d-none d-sm-flex" href="https://goo.gl/maps/nKRwCMhurx52" title="d'Eisenbahn auf Google Maps"><i class="fab fa-fw fa-google"></i></a>
  </div>
</footer>

<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/bootstrap-4.1.2.min.js"></script>
{% set terminDate = '20181123' %}
{% if page == 'index' %}
  <script src="/js/termine.js?v={{ terminDate }}"></script>
{% elseif page == 'termine' %}
  <script src="/js/jquery.bootstrap.year.calendar-1.0.0.min.js"></script>
  <script src="/js/termine.js?v={{ terminDate }}"></script>
{% elseif page == 'zoigl' %}
  <script src="/js/picturefill-3.0.2.min.js" async></script>
{% elseif page == 'anfahrt' %}
  <script src="https://www.nextzen.org/js/nextzen.min.js"></script>
{% endif %}
<script src="/js/zoigl.js?v=20180721"></script>
</body>
</html>
