</main>

<footer>
  <div class="d-flex justify-content-center align-items-center container">
    <a class="default" href="/impressum">Impressum</a>
    <div class="default sep mx-3"></div>
    <a class="default" href="/datenschutz">Datenschutz</a>
    <div class="default sep mx-3"></div>
    <a class="social facebook mx-1" href="https://www.facebook.com/pages/dEisenbahn/124557964269367" rel="nofollow" title="d'Eisenbahn auf Facebook"><i class="fab fa-fw fa-facebook"></i></a>
    <a class="social twitter mr-1" href="#" rel="nofollow" title="d'Eisenbahn auf Twitter"><i class="fab fa-fw fa-twitter"></i></a>
    <a class="social tripadvisor mr-1" href="#" rel="nofollow" title="d'Eisenbahn auf TripAdvisor"><i class="fab fa-fw fa-tripadvisor"></i></a>
    <a class="social yelp mr-1" href="#" rel="nofollow" title="d'Eisenbahn auf Yelp"><i class="fab fa-fw fa-yelp"></i></a>
  </div>
</footer>

<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper-1.14.3.min.js"></script>
{% if page == 'termine' %}
  <script src="/js/jquery.bootstrap.year.calendar-1.0.0.min.js"></script>
  <script src="/js/termine.js?v=20180615"></script>
{% endif %}
<script src="/js/picturefill-3.0.2.min.js" async></script>
<script src="/js/zoigl.js?v=20180615"></script>
</body>
</html>
