<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title|escape }}</title>

    <script>
      var gaProperty = 'UA-120916540-1';
      window.gaDisableStr = 'ga-disable-' + gaProperty;
      if (document.cookie.indexOf(gaDisableStr + '=true') > -1) {
          window[gaDisableStr] = true;
      } else if (document.cookie.indexOf(gaDisableStr + '=false') > -1) {
          window[gaDisableStr] = false;
      }
      if (document.location.hostname === 'd-eisenbahn.com') {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', gaProperty, 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
      }
      if (!window[gaDisableStr]) {
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '901143913420396');
        fbq('track', 'PageView');
        fbq('track', 'ViewContent');
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Restaurant",
        "name": "Zoiglwirtschaft „d'Eisenbahn”",
        "description": "Zoigl und Brotzeiten in historischer Atmosphäre",
        "telephone": "+4996518593002",
        "faxNumber": "+4996518593076",
        "email": "info@d-eisenbahn.com",
        "menu": "https://d-eisenbahn.com/speisekarte",
        "url": "https://d-eisenbahn.com",
        "sameAs": [
          "https://www.facebook.com/deisenbahn",
          "https://www.yelp.de/biz/zoiglwirtschaft-d-eisenbahn-vohenstrau%C3%9F",
          "https://www.tripadvisor.de/Restaurant_Review-g1067446-d10235103-Reviews-Zoiglwirtschaft_d_Eisenbahn-Vohenstrauss_Upper_Palatinate_Bavaria.html"
        ],
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": 5,
          "ratingCount": 77
        },
        "image": "https://d-eisenbahn.com/img/image.png",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Bahnhofstraße 18",
          "postalCode": "92648",
          "addressLocality": "Vohenstrauß"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "49.6263763",
          "longitude": "12.339973800000053"
        },
        "hasMap": "https://www.google.de/maps/place/Zoiglwirtschaft+d'Eisenbahn/@49.6264989,12.336242,16z/data=!4m5!3m4!1s0x0:0x7ca690778574d902!8m2!3d49.6263825!4d12.3399961",
        "priceRange": "2€ - 6€",
        "servesCuisine": "Zoigl, Brotzeiten"
      }
    </script>

    <meta name="revisit-after" content="1 days">
    {% if index %}
      <meta name="robots" content="index, follow">
    {% else %}
      <meta name="robots" content="noindex, follow">
    {% endif %}
    <link rel="canonical" href="https://d-eisenbahn.com/{{ page != 'index' ? page : '' }}"/>

    <link rel="shortcut icon" href="/img/favicon.ico">
  	<link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicon.ico">
  	<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon-192.png">
  	<link rel="icon" type="image/png" sizes="160x160" href="/img/favicon-160.png">
  	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96.png">
  	<link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon-48.png">
  	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
  	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16.png">
  	<link rel="apple-touch-icon" href="/img/favicon-57.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon-114.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon-72.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon-144.png">
  	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon-60.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon-120.png">
  	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-76.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon-152.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon-180.png">

    <meta name="theme-color" content="#ff9900">
  	<meta name="msapplication-TileColor" content="#ff9900">
  	<meta name="msapplication-TileImage" content="/img/favicon-144.png">
  	<meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="description" content="{{ description|escape }}">

    <link rel="author" href="humans.txt">

    <link rel="stylesheet" href="/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="/css/fa-svg-with-js-5.0.13.css">
    {% if page == 'termine' %}
      <link rel="stylesheet" href="css/jquery.bootstrap.year.calendar-1.0.0.min.css">
    {% elseif page == 'anfahrt' %}
      <link rel="stylesheet" href="https://www.nextzen.org/js/nextzen.css">
    {% endif %}
    <link rel="stylesheet" href="/css/zoigl.css?v=20190601">

    <script src="/js/fontawesome-all-5.0.13.min.js" defer></script>
  </head>

  <body class="no-transition">
    <header id="header" class="fixed-top">
      <div class="header-bg">
      <div class="row m-0 justify-content-center">
        <div class="d-flex justify-content-center align-items-center logo-top">
          <div class="line line-left"></div>
          <div class="zoigl"><span class="sr-only">Zoigl</span></div>
          <div class="line line-right"></div>
        </div>
        <div class="w-100"></div>
        <div class="flex-column justify-content-center align-items-center logo-middle">
          <div class="wirtschaft"><span class="sr-only">Wirtschaft</span></div>
        </div>
        <div class="w-100"></div>
        <div class="d-flex flex-wrap justify-content-center align-items-center logo-title">
          <div class="star star-left"></div>
          <span>d'Eisenbahn</span>
          <div class="star star-right"></div>
        </div>
        <div class="w-100"></div>
        <div class="d-flex justify-content-center align-items-center logo-bottom">
          <div class="line line-left"></div>
          <div class="vohenstrauss"><span class="sr-only">Vohenstrauß</span></div>
          <div class="line line-right"></div>
        </div>
      </div>

      <nav class="navbar navbar-expand-md navbar-light pt-2 pt-sm-0 pt-md-2">
        <button class="navbar-toggler ml-auto mb-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigation klappen">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item {{ page == 'index' ? 'active' : '' }}">
              <a class="nav-link d-block d-md-inline-block" href="/" data-descr="Startseite">Startseite</a>
            </li>
            <li class="nav-item {{ page == 'zoigl' ? 'active' : '' }}">
              <a class="nav-link d-block d-md-inline-block" href="/zoigl" data-descr="Zoiglgeschichte">Zoiglgeschichte</a>
            </li>
            <li class="nav-item {{ page == 'speisekarte' ? 'active' : '' }}">
              <a class="nav-link d-block d-md-inline-block" href="/speisekarte" data-descr="Speisekarte">Speisekarte</a>
            </li>
            <li class="nav-item {{ page == 'termine' ? 'active' : '' }}">
              <a class="nav-link d-block d-md-inline-block" href="/termine" data-descr="Schanktermine">Schanktermine</a>
            </li>
            <li class="nav-item {{ page == 'anfahrt' ? 'active' : '' }}">
              <a class="nav-link d-block d-md-inline-block" href="/anfahrt" data-descr="Anfahrt">Anfahrt</a>
            </li>
            <li class="nav-item {{ page == 'feste' ? 'active' : '' }}">
              <a class="nav-link d-block d-md-inline-block" href="/feste" data-descr="Feste feiern">Feste&nbsp;feiern</a>
            </li>
            <li class="nav-item {{ page == 'kontakt' ? 'active' : '' }}">
              <a class="nav-link d-block d-md-inline-block" href="/kontakt" data-descr="Kontakt">Kontakt</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    </header>

    <main class="px-4 pt-sm-5 pt-md-1 pb-3">
