<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Zoigl in Vohenstrauß ✡ d´ Eisenbahn</title>

    <script>
      var gaProperty = 'UA-120916540-1';
      window.gaDisableStr = 'ga-disable-' + gaProperty;
      if (document.cookie.indexOf(gaDisableStr + '=true') > -1) {
          window[gaDisableStr] = true;
      } else if (document.cookie.indexOf(gaDisableStr + '=false') > -1) {
          window[gaDisableStr] = false;
      }
      if (document.location.hostname === 'd-eisenbahn.com')
      {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', gaProperty, 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
      }
    </script>

    <script src="/js/modernizr-custom.js"></script>

    <meta name="revisit-after" content="1 days">
    <meta name="robots" content="index, follow">

    <link rel="canonical" href="https://d-eisenbahn.com/{{ page != 'index' ? page : '' }}"/>

    <link rel="shortcut icon" href="/img/favicon.ico">
  	<link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicon.ico">
  	<link rel="icon" type="image/png" sizes="196x196" href="/img/favicon-192.png">
  	<link rel="icon" type="image/png" sizes="160x160" href="/img/favicon-160.png">
  	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96.png">
  	<link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">
  	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
  	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16.png">
  	<link rel="apple-touch-icon" href="/img/favicon-57.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon-114.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon-72.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon-144.png">
  	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon-60.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon-120.png">
  	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-76.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon-152.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon-180.png">
    <meta name="theme-color" content="#ff9900">
  	<meta name="msapplication-TileColor" content="#ff9900">
  	<meta name="msapplication-TileImage" content="/img/favicon-144.png">
  	<meta name="msapplication-config" content="/browserconfig.xml">

    <link rel="stylesheet" href="/css/bootstrap-4.1.1.min.css">
    <link rel="stylesheet" href="/css/zoigl.css">
    <script src="/js/fa-brands-5.0.13.min.js" defer></script>
    <script src="/js/fontawesome-5.0.13.min.js"></script>
  </head>

  <body class="no-transition">
    <header id="header" class="fixed-top">
      <div class="row m-0 justify-content-center">
        <div class="d-flex justify-content-center align-items-center logo-top">
          <div class="line line-left"></div>
          <div class="zoigl"><span class="sr-only">Zoigl</span></div>
          <div class="line line-right"></div>
        </div>
        <div class="w-100"></div>
        <div class="flex-column justify-content-center align-items-center logo-middle">
          <div class="wirtschaft"><span class="sr-only">Wirtschaft</span></div>
        </div>
        <div class="w-100"></div>
        <div class="d-flex flex-wrap justify-content-center align-items-center logo-title">
          <div class="star star-left"></div>
          <span>d'Eisenbahn</span>
          <div class="star star-right"></div>
        </div>
        <div class="w-100"></div>
        <div class="d-flex justify-content-center align-items-center logo-bottom">
          <div class="line line-left"></div>
          <div class="vohenstrauss"><span class="sr-only">Vohenstrauß</span></div>
          <div class="line line-right"></div>
        </div>
      </div>

      <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item {{ page == 'index' ? 'active' : '' }}">
              <a class="nav-link px-4" href="/" data-descr="Startseite">Startseite</a>
            </li>
            <li class="nav-item {{ page == 'zoigl' ? 'active' : '' }}">
              <a class="nav-link px-4" href="/zoigl" data-descr="Zoigl">Zoigl</a>
            </li>
            <li class="nav-item {{ page == 'speisekarte' ? 'active' : '' }}">
              <a class="nav-link px-4" href="/speisekarte" data-descr="Speisekarte">Speisekarte</a>
            </li>
            <li class="nav-item {{ page == 'termine' ? 'active' : '' }}">
              <a class="nav-link px-4" href="/termine" data-descr="Schanktermine">Schanktermine</a>
            </li>
            <li class="nav-item {{ page == 'anfahrt' ? 'active' : '' }}">
              <a class="nav-link px-4" href="/anfahrt" data-descr="Anfahrt">Anfahrt</a>
            </li>
            <li class="nav-item {{ page == 'kontakt' ? 'active' : '' }}">
              <a class="nav-link px-4" href="/kontakt" data-descr="Kontakt">Kontakt</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="px-4 pt-1 pb-3">
